body {
    background-color: #b66969;
    font-family: 'Racing Sans One', sans-serif;
    color: white;
    font-size: 23px;
}

.container {
    max-width: 800px;
}

#currentDay img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#eventButtons {
    margin-top: 20px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(114, 94, 122);
    width:150px;
}
